:root {
  --color-primary: #c69963;
  --color-primary-dark: #b28451;

  --color-secondary: #101d2c;

  --color-grey-light-1: #f9f7f6;
  --color-grey-light-2: #aaa;

  --color-grey-dark-1: #54483a;
  --color-grey-dark-2: #6d5d4b;

  --font-primary: "Nunito", sans-serif;
  --font-display: "Josefin Sans", sans-serif;
}
* {
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
body {
  font-family: var(--font-primary);
  color: var(--color-grey-dark-2);
  font-weight: 300;
  line-height: 1.6;
}
.sidebar {
  background-color: var(--color-primary);
  grid-column: sidebar-start/sidebar-end;
  grid-row: 1/-1;
  display: flex;
  justify-content: center;
}
.header {
  background-color: var(--color-grey-dark-1);
  grid-column: full-start / col-end 6;
}
.realtors {
  background-color: var(--color-secondary);
  grid-column: col-start 7 / full-end;
}
.features {
  /* background-color: var(--color-grey-light-1); */
  grid-column: center-start / center-end;
}
.story__pictures {
  background-color: var(--color-primary);
  grid-column: full-start / col-end 4;
}
.story__content {
  background-color: var(--color-grey-light-1);
  grid-column: col-start 5 / full-end;
}
.homes {
  background-color: var(--color-secondary);
  grid-column: center-start / center-end;
}
.gallery {
  background-color: var(--color-grey-light-1);
  grid-column: full-start/full-end;
}
.footer {
  background-color: var(--color-secondary);
  grid-column: full-start/full-end;
}
.container {
  display: grid;
  grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
  grid-template-columns:
    [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr)
    [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end])
    [center-end] minmax(6rem, 1fr)
    [full-end];
}
.heading-1 {
  font-family: var(--font-display);
  font-weight: 400;
  font-size: 4.5rem;
  color: var(--color-grey-light-1);
  line-height: 1;
}
.heading-2 {
  font-family: var(--font-display);
  font-weight: 400;
  font-size: 4rem;
  font-style: italic;
  line-height: 1;
}
.heading-2--dark {
  color: var(--color-grey-dark-1);
}
.heading-2--light {
  color: var(--color-grey-light-1);
}
.heading-3 {
  font-family: var(--font-display);
  font-weight: 400;
  font-size: 1.6rem;
  color: var(--color-primary);
  text-transform: uppercase;
}
.heading-4 {
  font-family: var(--font-display);
  font-weight: 400;
  font-size: 1.5rem;
}
.heading-4--dark {
  color: var(--color-grey-dark-1);
}
.heading-4--light {
  color: var(--color-grey-light-2);
}
.btn {
  background-color: var(--color-primary);
  color: #fff;
  border: none;
  border-radius: 0;
  font-family: var(--font-display);
  text-transform: uppercase;
  /* display: inline-block; */
  padding: 1.8rem 3rem;
  cursor: pointer;
  transition: all 0.2s;
}
.btn:hover {
  background-color: var(--color-primary-dark);
}
.mb-sm {
  margin-bottom: 2rem;
}
.mb-md {
  margin-bottom: 3rem;
}
.mb-lg {
  margin-bottom: 4rem;
}
.mb-hg {
  margin-bottom: 8rem;
}
